<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fatal Encounters App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/public/images/fea.ico/favicon-32x32.png" type="image/x-icon">
    <link rel="icon" href="/public/images/fea.ico/favicon-32x32.png" type="image/x-icon">
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
<link rel="stylesheet" href="/public/style.css" />
<link rel="stylesheet" href="/encounters.json" />

</head>

<body>
<header>
<a href="/encounters">
    <h1>FATAL ENCOUNTERS</h1>
    <br>
</a>

<nav>
<!-- About Modal -->

<button type="button" data-toggle="modal" data-target="#aboutModalCenter">
    About
</button>


<div class="modal fade" id="aboutModalCenter" tabindex="-1" role="dialog" aria-labelledby="aboutModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutModalLongTitle">About</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
<p>Every life is precious and we should live in a society that promote life.
Our officers don't have the resources to feel safe at their jobs either.
It is our right to feel protected and served. It is their right to feel safe while at work.
With love, Jes.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="about btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Consitution Modal -->

<button type="button" data-toggle="modal" data-target="#constitutionModal">
    The Constitution
</button>


<div class="modal fade" id="constitutionModal" tabindex="-1" role="dialog" aria-labelledby="constitutionModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-justified" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="constitutionModalLongTitle">The Constitution</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
            <% include ../encounters/constitution.ejs %>
</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="constitution btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Miranda Rights -->

<button type="button" data-toggle="modal" data-target="#mirandaModalCenter">
    Miranda Rights
</button>


<div class="modal fade" id="mirandaModalCenter" tabindex="-1" role="dialog" aria-labelledby="mirandaModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mirandaModalLongTitle">Miranda Rights</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
          <img src="/public/images/mirandawarninginfographic.png" style="width: 95%" 
          alt="
            The following is a minimal Miranda warning, as outlined in the Miranda v Arizona case.
            You have the right to remain silent.
            Anything you say can and will be used against you in a court of law. 
            You have the right to speak to an attorney, and to have an attorney present during any questioning. 
            If you cannot afford a lawyer, one will be provided for you at government expense.

            The following is a much more verbose Miranda warning, designed to cover all bases that a detainee might encounter while in
            police custody. A detainee may be asked to sign a statement acknowledging the following. 
            You have the right to remain silent and refuse to answer questions. Do you understand? 
            Anything you do say may be used against you in a court of law. Do you understand? 
            You have the right to consult an attorney before speaking to the police and to have an attorney present during
            questioning now or in the future. Do you understand? 
            If you cannot afford an attorney, one will be appointed for you before any questioning if you wish. Do you understand? 
            If you decide to answer questions now without an attorney present you will still have the right to stop answering at any time until you talk to an attorney. Do you understand? 
            Knowing and understanding your rights as I have explained them to you, are you willing to answer my questions without an attorney present?
            ">

            </div>
            <div class="modal-footer">
                <button type="button" class="miranda btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="zipCodeDiv">
    <form onsubmit="window.location = 'http://localhost:4567/encounters/' + search.value; return false;">
        <input placeholder="5 Digit Zip Code" type="search" name="search" class="search"></input>
        <input class="submitButton" type="submit" value="Search">
    </form>
</div>


</nav>

</header>
