<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fatal Encounters App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css" />
    <link rel="shortcut icon" href="/public/images/fea.ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/images/fea.ico/favicon.ico" type="image/x-icon">
    <script src="/reload/reload.js"></script>

</head>

<body>
    <header>
        <h1>FATAL ENCOUNTERS</h1><br>
        <nav>
        <div class="aboutLink">About</div>
        <div class="constitutionLink">The Constitution</div>
        <div class="mirandaRights">Miranda Rights</div>
        <div class="zipCodeDiv">
            <label>Zip Code</label>
            <input type="zipcode" name="zipcodeSearch" id="zipcodeSearch">
            <button type="submit" id="createButton">SEARCH</button>
</div>

    </nav>
    </header>

