
<div class="commentBoard">

<% include ../encounters/new.ejs %>
</div>

<div class="commentBoard">

<br>
<% comments.forEach(comment => { %>

<h3>
    <%= comment.comment_text %>
</h3>


<form method="POST" action="/encounters/comments/one/<%= comment.comment_id %>?_method=PUT">
        <input type="text" name="comment_text" id="commentText" value='<%=comment.comment_text%>' style="width: 300px">
        <button type="submit">UPDATE</button>
</form>
<form method="POST" action="/encounters/comments/one/<%=comment.comment_id %>?_method=DELETE">
    <button type="submit">DELETE</button>
</form>

</div>


    <% }); %>

