
<% include ../partials/header.ejs %>

<div class="landing">
<label>RISK FACTOR BY ZIP CODE</label><br>
<input type="zipcode" name="zipcodeSearch" id="zipcodeSearch">
<button type="submit" id="createButton">SEARCH</button>
</div>

<% include ../partials/footer.ejs %>
