<div id='newComment'>
<h4 style="color:white">Submit a comment</h4>
    <form action="/encounters/comments/" method="POST">
        <label>Comment</label>
        <input type="text" name="comment_text" id="commentText" placeholder="Comment">
        <button type="submit" id="commentButton">Comment</button>
    </form>
</div>